* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    line-height: 1.5;
    background: #9AAEBC;
    background: linear-gradient(135deg, #00A86B, #0072A9, #00A86B, #CC830E, #0072A9);
    background-size: 500% 500%;
    animation: gradient 120s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card {
    margin: 40px 0;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
    padding: 40px;
    background: #fff;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, .3);
    border-radius: 2px;
    color: #1D1D35;
    max-width: 30vw;
}

.name {
    font-size: 270%;
    letter-spacing: -3px;
    line-height: 1;
    margin-bottom: 8px;
    font-weight: 700;
}

hr {
    border: none;
    margin-top: 20px;
    border-top: 1px solid #9CB0A4;
}

.title {
    font-size: 150%;
    color: #008381;
    margin-top: 10px;
    font-weight: 700;
}

.projects, .contact {
    font-weight: 400;
    margin-top: 20px;
}

.link {
    text-decoration: none;
    color: #008381;
    border-bottom: 1px solid transparent;
    -webkit-transition: .2s;
    transition: .2s;
}

.link:hover {
    color: #3f704d;
    border-bottom: 1px solid #3f704d;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

/* night mode */

.container-night {
    background: linear-gradient(90deg, #000 7px, transparent 1%) center, linear-gradient(#000 7px, transparent 1%) center, transparent;
    background-size: 9px 9px;
}

.card-night {
    background: rgb(26, 26, 27);
    color: #fbfbfb;
}

.title-night {
    color: #9CB0A4;
}

.link-night {
    color: #9AAEBC;
}

.link-night:hover {
    color: #9CB0A4;
    border-color: #9CB0A4;
}

.button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 8px 12px;
    line-height: 1;
    background: rgba(0,0,0,.5);
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    outline: 0;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .2);
    -webkit-transition: .2s;
    transition: .2s;
}

.button:hover, .button:focus {
    background: #00A86B;
    border-color: #00A86B;
}

.button:active {
    transform: translate(0,2%);
    
    box-shadow: none;
}


@media screen and (max-width: 1600px) {
    .card {max-width: 60vw;}
}
@media screen and (max-width: 767px) {
    .card {
        width: 95vw;
        padding: 40px 16px;
        font-size: 18px;
        max-width: 100vw;
    }
}

@media screen and (max-width: 375px) {
    .card {
        font-size: 16px;
    }
}