* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	text-decoration: none;
	color: #000;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}

body {
	font-family: 'Source Sans Pro', Myriad Pro, sans-serif;
	position: relative;
	margin: 0;
	line-height: 1;
}

hr {
	display: block;
	border-bottom: 1px solid #999;
	padding-top: 5px;
}

.wrap {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

header {
	background: #fff000;
	height: 82px;
	width: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	z-index: 201;
	position: relative;
}

#header-logo {
	width: 412px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 18px auto 0 auto;
}

#header-logo img {
	width: 412px;
}

#weather {
	position: absolute;
	left: 0;
	display: flex;
	align-items: center;
	margin: 20px 0 0 20px;
}

#weather-state, #weather-temp {
	flex-direction: row;
}

#weather-state {
	width: 38px;
	margin-left: 5px;
}

#weather-temp {
	font-size: 20px;
	font-weight: 700;
}

#search-box-header {
	float: right;
	margin-top: 28px;
}

.search-icon img {
	height: 30px;
}

.search-icon {
	cursor: pointer;
	position: absolute;
	right: 0;
	margin-right: 15px;
}

input {
	outline: none;
}

#search-input-header {
	width: 0px;
	position: absolute;
	right: 0;
	padding: 10px 0 10px 0;
	margin: -5px 10px 0 0;
	transition: .2s;
	border: solid #000;
	border-width: 0 0 1px 0;
	z-index: 2;
}

#search-input-header:focus {
	width: 260px;
	padding: 10px;
}

nav {
	background-color: #f5f5f5;
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 100%;
}

#nav-links {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#nav-links li {
	width: 100%;
	text-align: center;
	line-height: 40px;
	position: relative;
	font-weight: 600;
	font-size: 18px;
}

#nav-links li a {
	text-decoration: none;
	color: #000;
	width: 100%;
	display: inline-block;
	height: 100%;
}

#nav-links li a:hover {
	border-bottom: 1px solid #000;
}

#nav-links li a:active {
	background: #ccc;
}

#site-content {
	min-height: 100%;
}

main {
	width: 60%;
	float: left;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

aside {
	width: 40%;
	float: left;
	margin-top: 40px;
	background-color: #f5f5f5;
}

section {
	clear: both;
	width: 100%;
	position: relative;
	padding: 5px;
}

article {
	padding: 10px;
	width: 100%;
	position: relative;
	font-family: 'Source Serif Pro', serif;
	display: flex;
	align-items: flex-end;
	transition: .2s;
}

article img {
	padding-top: 10px;
	width: 100%;
	transition: .2s;
}

.category {
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	padding: 10px;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	transition: .2s;
	font-family: 'Source Sans Pro', Myriad Pro, sans-serif;
}

.category:hover {
	background: rgba(0, 0, 0, 1);
}

.category .writer {
	color: #ccc;
}

.top-left-article {
	box-shadow: 10px 0px 15px -10px rgba(0, 0, 0, .2);
}

.section-article:hover {
	box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, .3);
}

.top-left-article .category {
	left: 0;
}

.top-right-article .category {
	right: 0;
}

.section-article .category {
	font-size: 15px;
	padding: 5px;
	left: 0;
	margin: 0 0 10px 0;
}

.adversiment {
	display: flex;
	font-size: 40px;
	background: #ccc;
	font-weight: 700;
	width: calc(100% - 20px);
	margin-top: 10px;
	margin-left: 10px;
	padding: 20px 0;
	justify-content: center;
	align-items: center;
}

.section-ad {
	width: calc(66.666% - 10px);
	margin-left: 5px;
}

.title-big, .title-medium, .title-small {
	font-weight: 700;
	color: #000;
	line-height: 100%;
}

article a:hover .title-big, article a:hover .title-medium, article a:hover .title-small {
	text-decoration: underline;
}

.title-big {
	font-size: 26px;
	font-weight: 700;
}

.title-medium {
	font-size: 20px;
}

.title-small {
	font-size: 18px;
}

.news-container {
	display: flex;
	flex-direction: row;
}

.section-article {
	width: 33.3333%;
	position: relative;
	padding: 5px;
}

.section-title {
	padding: 5px;
	margin-top: 12px;
}

.section-title div {
	display: inline;
}

.section-title .title-small {
	margin-left: 10px;
	color: #555;
}

.section-title .title-small:hover {
	color: #000;
	text-decoration: underline;
}

#bottom-padding {
	height: 100px;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}

#footer-cont {
	position: relative;
	width: 100%;
	height: 46px;
	border-bottom: 10px solid #fff000;
}

#logo-footer img {
	height: 24px;
}

#logo-footer {
	margin: 0 0 0 5px;
	position: absolute;
	bottom: 5px;
}

#search-box-footer {
	width: 270px;
	height: 34px;
	right: 0;
	position: absolute;
	padding: 5px 0 5px 0;
	border-top: 1px solid;
}

#search-input-footer {
	position: absolute;
	background: #fff;
	height: 30px;
	width: 230px;
	bottom: 1px;
}

#search-box-footer .search-icon {
	cursor: pointer;
	position: absolute;
	right: 0;
	margin-right: 5px;
}

#search-box-footer .search-icon img {
	height: 24px;
}

#search-box-footer .search-icon:hover:after {
	content: none;
}

#menutrigger {
	display: none;
}

@media screen and (max-width: 1040px) {
	.search-icon:hover:after {
		content: none;
	}
	#search-input-header:focus {
		width: calc(100% - 20px);
	}
	#search-input-header:focus-within #header-logo {
		display: none;
	}
	.overlay-class {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, .8);
		z-index: 99;
		display: block;
		left: 0;
		transition: .2s;
	}
	#header-logo img {
		width: 320px;
	}
	#header-logo {
		width: 320px;
		margin-top: 22px;
	}
	#site-content {
		padding: 0 10px;
	}
}

@media screen and (max-width: 670px) {
	header {
		height: 52px;
	}
	#menutrigger {
		display: initial;
		position: absolute;
		left: 0;
		margin: 6px 0 0 5px;
		transition: .2s;
	}
	#menutrigger img {
		height: 40px;
	}
	.menutriggered {
		left: 30px;
	}
	.show-nav-mobile {
		display: none;
		width: calc(100% - 20px);
		animation: slide .2s;
		top: -10px;
		position: absolute;
		z-index: 200;
		overflow: hidden;
		height: 60vh;
	}
	@keyframes slide {
		from {
			height: 0;
		}
		to {
			height: 60vh;
		}
	}
	.overlay-class {
		top: -10px;
	}
	#nav-links {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	#nav-links li {
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
		border-left: 1px solid #000;
		letter-spacing: 1px;
		height: 10vh;
		line-height: 10vh;
		font-size: 25px;
		text-align: center
	}
	#nav-links li a:hover {
		border-bottom: none;
	}
	#search-box-header {
		float: right;
		margin-top: 12px;
	}
	.search-icon img {
		height: 30px;
	}
	.search-icon {
		cursor: pointer;
		position: absolute;
		right: 0;
		margin-right: 10px;
	}
	.headeroverlay::after {
		content: "";
		width: 100%;
		height: calc(100% - 80px);
		position: absolute;
		background-color: rgba(0, 0, 0, .8);
		z-index: 99;
		display: block;
		top: 52px;
		left: 0;
		transition: .2s;
		color: #fff;
		text-align: center;
		font-size: 30px;
		padding: 30px 0 0 0;
	}
	#search-input-header {
		width: 0px;
		position: absolute;
		right: 0;
		padding: 10px 0 10px 0;
		margin: -6px 10px 0 0;
	}
	.search-icon:hover:after {
		content: none;
	}
	#header-logo img {
		width: 180px;
	}
	#header-logo {
		width: 180px;
		margin-top: 16px;
	}
	.title-big, .title-medium, .title-small {
		font-size: 20px;
	}
	aside, main, .section-article {
		width: 100%;
		float: none;
		margin: 0;
	}
	aside {
		margin-top: 10px;
	}
	main {
		margin: 10px 0 0 0;
	}
	.top-left-article, .section-article:hover {
		box-shadow: none;
	}
	.news-container {
		flex-direction: column;
	}
	#footer-cont {
		border-bottom: 5px solid #fff000;
	}
	#logo-footer img {
		height: 20px;
	}
	#search-box-footer, #weather {
		display: none;
	}
	.section-ad {
		width: calc(100% - 10px);
	}
	.top-left-article .category {
		left: auto;
		right: 0;
		margin-right: 20px;
	}
	.top-right-article .category {
		margin-right: 20px;
	}
	.section-article .category {
		margin-bottom: 20px;
		padding: 10px;
		left: auto;
		right: 0;
		margin: 0 0 15px 0;
		margin-right: 10px;
	}
	.category {
		font-size: 17px;
	}
}